/* Empty. Add your own CSS if you like */


.slidingTabs .icon {
	font-size: 30px;
	margin: 0;
}

.card .item-button-right .button {
	font-size : 90%;
	top: 1px;
	bottom: 1px;
	right: 5px;
	width: 12%;
	text-align: center;
	vertical-align: middle;
	display:table-cell;
	min-height: inherit;
}

.item-toggle{
	pointer-events: all;
}

.toggle {
	pointer-events: auto; 
}

/* Useless for the moment, no api config, see forecast website directly here */
.event-title {
	font-size: 120%
}

.event-if {
	color: #FF7F00;
	font-weight: bold;
}

.event-then {
	color: rgba(56,126,245,1);
	font-weight: bold;
}

.event-parameters {
	
}