/* Empty. Add your own CSS if you like */
.weather-home {
    background-image: url('../img/sky1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    flex: 1;
    flex-direction: column;
}

.overlay {
    padding-top: 5px;
    background-color: #000000;
    opacity: 0.5;
    flex-direction: column;
    align-items: center;
}

.input-label {
  color: #000000;
}

input[type="text"] {
    color: #FFFFFF;
}

.forecast {
    align-items: center;
    flex-direction: column;
}


.bigText {
    flex: 2;
    font-size: 20px;
    text-align: center;
    margin: 5px;
    color: #FFFFFF;
}

.mainText {
    flex: 1;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
}

.icon {
    margin-left: 50px;
    height: 50px;
    width: 50px;
}