<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ServU</title>

    <link rel="icon" type="image/png" href="img/smallLogo.png" />

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/stylish-portfolio.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Personnal CSS Piti -->
    <link href="../css/persoCSS/amethystFont.css" rel="stylesheet">
    <link href="../css/persoCSS/colorOrange.css" rel="stylesheet">

    <link href="../css/persoCSS/custom.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>

<body>

<!-- Navigation 2-->
<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
        <li class="sidebar-brand">
            <a href="#top" onclick=$("#menu-close").click();>ServU</a>
        </li>
        <li><% if(session){ %>
            <a href="/api/users/<%= username %>" onclick=$("#menu-close").click();>Profil</a>
            <% } %>
        </li>
        <li><% if(!session){ %>
            <a href="#" data-toggle="modal" data-target="#myModal" onclick=$("#menu-close").click();>Sign Up</a>
            <% } %>
        </li>
        <li><% if(!session){ %>
            <a id="connectionButton">Sign In</a>
            <div class="bg-warning connectionInfo" style="display: none;">
                <form action="/api/users/login" id="signinForm" data-toggle="validator" action="devices.html"  method="post" role="form">
                    <div class="form-group">
                        <label for="UsernameConnexion">Username</label>
                        <input type="text" class="form-control" name="username" id="UsernameConnexion" placeholder="Username" required>
                    </div>
                    <div class="form-group">
                        <label for="PasswordConnexion">Password</label>
                        <input type="password" class="form-control" name="password" id="PasswordConnexion" placeholder="Password" required>
                    </div>
                    <button type="submit" class="btn btn-light btn-group-justified">Sign In</button>
                </form>
            </div>
        </li><% } %>
        <li>
            <hr>
        </li>
        <li>
            <a href="#video" onclick=$("#menu-close").click();>Video</a>
        </li>
        <li>
            <a href="#description" onclick=$("#menu-close").click();>Description</a>
        </li>
        <li>
            <a href="#services" onclick=$("#menu-close").click();>Services</a>
        </li>
        <li>
            <a href="#portfolio" onclick=$("#menu-close").click();>Gallery</a>
        </li>
        <li>
            <a href="#tech" onclick=$("#menu-close").click();>Techs</a>
        </li>
        <li>
            <a href="#team" onclick=$("#menu-close").click();>Team</a>
        </li>
        <li>
            <a href="#footer" onclick=$("#menu-close").click();>Contact</a>
        </li>
    </ul>
</nav>

<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center">
        <p><img src="img/Testv2%20Logo%209.png" alt="Logo"/></p>
        <br>
        <br>
        <a href="#about" class="btn btn-light btn-lg fontAmethyst">At your service</a>
        <br>
        <a href="#about" class="btn btn-dark btn-lg fontAmethyst">Find Out More</a>
    </div>
</header>

<!-- Register Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Registration</h4>
            </div>
            <form action="/api/users" method="post" id="registerForm" data-toggle="validator" role="form">
                <div class="modal-body">
                    <div class="form-group has-feedback">
                        <label for="UsernameRegister" class="control-label">Username</label>
                        <input type="text" class="form-control" data-minlength="2" name="username" id="UsernameRegister" placeholder="Username" required>
                        <div class="help-block">At least 2 characters</div>
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <label for="Prenom_registrer" class="control-label">First Name</label>
                        <input type="text" class="form-control" data-minlength="2" name="firstname" id="Prenom_registrer" placeholder="First Name" required>
                        <div class="help-block">At least 2 characters</div>
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <label for="nom_registrer" class="control-label">Last Name</label>
                        <input type="text" class="form-control" data-minlength="2" name="lastname" id="Nom_registrer" data-error="Error : Il faut au minimum 2 caractères" placeholder="Last Name" required>
                        <div class="help-block">At least 2 characters</div>
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail" class="control-label">Email</label>
                        <input type="email" class="form-control" name="email" id="inputEmail" placeholder="Email" data-error="This email address is invalid" required>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group form-inline">
                        <label for="PasswordRegister" class="control-label">Password</label>
                        <div class="row">
                            <div class="form-group col-sm-6 has-feedback">
                                <input type="password" data-minlength="6" class="form-control" name="password" id="PasswordRegister" placeholder="Password" required>
                                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                <div class="help-block">At least 6 characters</div>
                            </div>
                            <!--<div class="form-group col-sm-6 has-feedback">-->
                                <!--<input type="password" class="form-control" name="password2" id="ConfirmRegister" data-match="#PasswordRegister" data-match-error="ERREUR : Les mots de passes ne correspondent pas" placeholder="Confirm" required>-->
                                <!--<span class="glyphicon form-control-feedback" aria-hidden="true"></span>-->
                                <!--<div class="help-block with-errors"></div>-->
                            <!--</div>-->
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" required>
                                I'm not a robot
                            </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- About -->
<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>A perfect Project for Enseirb Telecommunications Semester 8</h2>
                <p class="lead">Team 8 : Project ServU</p>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>

<!-- Video -->
<section id="video" class="about bg-warning">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="fontAmethyst text-white">Video</h2>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>

<!-- Description -->
<section id="description" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="fontAmethyst">Description</h2>
                <hr class="small">
                <p>Project ServU is an application for mobile phones and also web devices. His purpose is to provide a continuous
                    connexion between our server and your phone. With this, you can choose to collect multiple information from your phone such
                    as your battery level, your wifi connection or your GPS position. Using this information, you create on this website,
                    using a account, some actions you want to do when your phone is battery low for instance. For now, you can flash, vibrate or ring.</p>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>

<!-- Services -->
<section id="services" class="services bg-primary">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1">
                <h2 class="fontAmethyst">Our Services</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-mobile-phone fa-stack-1x text-warning"></i>
                            </span>
                            <h4>
                                <strong>Collect Info</strong>
                            </h4>
                            <p>You can collect informations from your phone such as battery, GPS ...</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x text-warning"></i>
                                <i class="fa fa-wifi fa-stack-1x text-white"></i>
                            </span>
                            <h4>
                                <strong>Disable Wifi</strong>
                            </h4>
                            <p>You can disable your Wifi option without touching your phone.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-volume-control-phone fa-stack-1x text-warning"></i>
                            </span>
                            <h4>
                                <strong>Make your phone ring</strong>
                            </h4>
                            <p>You can make your phone ring at any time without touching it.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x text-warning"></i>
                                <i class="fa fa-lock fa-stack-1x text-white"></i>
                            </span>
                            <h4>
                                <strong>Data protection</strong>
                            </h4>
                            <p>You can create an user account to connect devices to it. Your information are safe with us.</p>
                        </div>
                    </div>
                </div><!-- /.row (nested) -->
            </div><!-- /.col-lg-10 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>

<!-- Portfolio -->
<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2 class="fontAmethyst">Gallery</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="#">
                                <img class="img-portfolio img-responsive" src="img/Plaquette5vWeb.png">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="#">
                                <img class="img-portfolio img-responsive" src="img/SchemavWeb.png">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="#">
                                <img class="img-portfolio img-responsive" src="img/appPhoto.png">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="#">
                                <img class="img-portfolio img-responsive" src="img/Plaquette6vWeb.png">
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>


<!-- Video -->
<section id="tech" class="about bg-warning">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2 class="fontAmethyst text-white">Techs</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <a href="https://angularjs.org/" class="thumbnail">
                            <img src="img/logos/logoAngularJS.png" class="img-responsive" alt="Responsive image">
                        </a>
                        <a href="https://ionicframework.com/" class="thumbnail">
                            <img src="img/logos/logoIonic.png" class="img-responsive" alt="Responsive image">
                        </a>
                        <a href="https://trello.com/" class="thumbnail">
                            <img src="img/logos/logoTrello.png" class="img-responsive" alt="Responsive image">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="https://github.com/" class="thumbnail">
                            <img src="img/logos/logoGithub.png" class="img-responsive" alt="Responsive image">
                        </a>
                        <a href="http://mean.io/" class="thumbnail">
                            <img src="img/logos/logoMEAN.png" class="img-responsive" alt="Responsive image">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="https://www.google.com/drive/" class="thumbnail">
                            <img src="img/logos/logoGoogleDrive.png" class="img-responsive" alt="Responsive image">
                        </a>
                        <a href="https://www.jetbrains.com/webstorm/" class="thumbnail">
                            <img src="img/logos/logoWebStorm.png" class="img-responsive" alt="Responsive image">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="https://www.w3schools.com/html/" class="thumbnail">
                            <img src="img/logos/logoHTML.png" class="img-responsive" alt="Responsive image">
                        </a>
                        <a href="https://nodejs.org/en/" class="thumbnail">
                            <img src="img/logos/logoNodeJS.png" class="img-responsive" alt="Responsive image">
                        </a>
                        <a href="https://www.mongodb.com/" class="thumbnail">
                            <img src="img/logos/logoMongoDB.png" class="img-responsive" alt="Responsive image">
                        </a>
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>

<!-- Services -->
<section id="team" class="services bg-primary">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1">
                <h2 class="fontAmethyst">Our Team</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <img src="img/team/pad.png" class="img-thumbnail">
                            <h4><strong>Alexandre Germain</strong></h4>
                            <p>Project Leader</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <img src="img/team/claire.png" class="img-thumbnail">
                            <h4><strong>Claire Mellano</strong></h4>
                            <p>Web Team</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <img src="img/team/piti.png" class="img-thumbnail">
                            <h4><strong>Guillaume Pitillion</strong></h4>
                            <p>Web Team</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <img src="img/team/flo.png" class="img-thumbnail">
                            <h4><strong>Florian Payet</strong></h4>
                            <p>Web Team</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="service-item">
                            <img src="img/team/paul.png" class="img-thumbnail">
                            <h4><strong>Paul Gressier</strong></h4>
                            <p>Server Team</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="service-item">
                            <img src="img/team/tac.png" class="img-thumbnail">
                            <h4><strong>Quentin Chaumont</strong></h4>
                            <p>Server Team</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="service-item">
                            <img src="img/team/clem.png" class="img-thumbnail">
                            <h4><strong>Clément Plotton</strong></h4>
                            <p>Server Team</p>
                        </div>
                    </div>
                </div><!-- /.row (nested) -->
            </div><!-- /.col-lg-10 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>

<!-- Map -->
<section id="contact" class="map">
    <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2830.732615598078!2d-0.6073607487148428!3d44.80663757899614!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd54d88197728bbf%3A0xec840415731df92e!2sENSEIRB-MATMECA!5e0!3m2!1sfr!2sfr!4v1489768127763"></iframe>
    <br />
    <small>
        <a href="https://www.google.fr/maps/place/ENSEIRB-MATMECA/@44.8066376,-0.6073607,17z/data=!3m1!4b1!4m5!3m4!1s0xd54d88197728bbf:0xec840415731df92e!8m2!3d44.8066376!4d-0.6051667"></a>
    </small>
</section>

<!-- Footer -->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h3 class="fontAmethyst"><strong>Serv U</strong></h3>
                <hr class="small">
                <p>1 Dr Albert Schweitzer Av.
                    <br>Talence, France 33400</p>
                <ul class="list-unstyled">
                    <li><i class="fa fa-phone fa-fw"></i> (123) 456-7890</li>
                    <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:ServU@gmail.com">ServU@gmail.com</a></li>
                </ul>
                <br>
                <ul class="list-inline">
                    <li>
                        <a href="https://www.facebook.com/"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                    </li>
                </ul>
                <hr class="small">
                <p class="text-muted">Copyright &copy; ServU Team 8 2017</p>
            </div>
        </div>
    </div>
    <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
</footer>


<!-- jQuery -->
<script src="../js/jquery.js"></script>

<!-- Validation JQuery Form -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../js/bootstrap.min.js"></script>

<!-- Theme Bootstrap -->
<script type="text/javascript" src="../js/persoJS/themeBootstrap.js" ></script>

<!-- Personnal Script PITI -->
<script type="text/javascript" src="../js/persoJS/controlConnection.js" ></script>

<!-- Custom Theme JavaScript -->
<script>


</script>

</body>

</html>
