<ion-view view-title="Actions" ng-controller="ActionsCtrl" cache-view="false">
  <ion-content scroll-watch>
	<ul class="list">
		<li class="item item-icon-left item-toggle">
			<i class="icon ion-music-note"></i><div on-double-tap="testRing()">{{"Ring" | translate}}</div>
			<label class="toggle toggle-balenced">
				<input type="checkbox" ng-model="ring.enable">
				<div class="track">
					<div class="handle"></div>
				</div>
			</label>
		</li>
		<li class="item item-icon-left item-toggle">
			<i class="icon ion-radio-waves"></i><div on-double-tap="testVibrate()">{{"Vibrate" | translate}}</div>
			<label class="toggle toggle-balenced">
				<input type="checkbox" ng-model="vibrate.enable">
				<div class="track">
					<div class="handle"></div>
				</div>
			</label>
		</li>
		<li class="item item-icon-left item-toggle">
			<i class="icon ion-android-textsms"></i><div on-double-tap="testSms()">{{"Sms" | translate}}</div>
			<label class="toggle toggle-balenced">
				<input type="checkbox" ng-model="sms.enable">
				<div class="track">
					<div class="handle"></div>
				</div>
			</label>
		</li>
		<li class="item item-icon-left item-toggle">
			<i class="icon ion-lightbulb"></i><div on-double-tap="testFlashlight()">{{"Flashlight" | translate}}</div>
			<label class="toggle toggle-balenced">
				<input type="checkbox" ng-model="flashlight.enable">
				<div class="track">
					<div class="handle"></div>
				</div>
			</label>
		</li>
	</ul>
  </ion-content>
</ion-view>