<ion-view view-title="Probes" ng-controller="ProbesCtrl" cache-view="false">
	<ion-content scroll-watch class="subHeader">
	<ul class="list">
		<li class="item item-icon-left item-toggle">
			<i class="icon ion-wifi"></i>{{"Network" | translate}}
			<label class="toggle toggle-balenced">
				<input type="checkbox" ng-model="network.active">
				<div class="track">
					<div class="handle"></div>
				</div>
			</label>
		</li>
		<li class="item item-icon-left item-toggle">
			<i class="icon ion-bluetooth"></i>{{"Bluetooh" | translate}}
			<label class="toggle toggle-balenced">
				<input type="checkbox" ng-model="bluetooth.active">
				<div class="track">
					<div class="handle"></div>
				</div>
			</label>
		</li>
		<li class="item item-icon-left item-toggle">
			<i class="icon ion-navigate"></i>{{"GPS" | translate}}
			<label class="toggle toggle-balenced">
				<input type="checkbox" ng-model="localisation.active">
				<div class="track">
					<div class="handle"></div>
				</div>
			</label>
		</li>
		<li class="item item-icon-left item-toggle">
			<i class="icon ion-battery-charging"></i>{{"Battery" | translate}}
			<label class="toggle toggle-balenced">
				<input type="checkbox" ng-model="battery.active">
				<div class="track">
					<div class="handle"></div>
				</div>
			</label>
		</li>
		<!-- <li class="item item-icon-left item-toggle"> -->
			<!-- <i class="icon ion-arrow-move"></i>{{"Accelerometer" | translate}} -->
			<!-- <label class="toggle toggle-balenced"> -->
				<!-- <input type="checkbox"> -->
				<!-- <div class="track"> -->
					<!-- <div class="handle"></div> -->
				<!-- </div> -->
			<!-- </label> -->
		<!-- </li> -->
		<!-- <li class="item item-icon-left item-toggle"> -->
			<!-- <i class="icon ion-compass"></i>{{"Orientation" | translate}} -->
			<!-- <label class="toggle toggle-balenced"> -->
				<!-- <input type="checkbox"> -->
				<!-- <div class="track"> -->
					<!-- <div class="handle"></div> -->
				<!-- </div> -->
			<!-- </label> -->
		<!-- </li> -->
		<!-- <li class="item item-icon-left item-toggle"> -->
			<!-- <i class="icon ion-radio-waves"></i>{{"Proximity" | translate}} -->
			<!-- <label class="toggle toggle-balenced"> -->
				<!-- <input type="checkbox"> -->
				<!-- <div class="track"> -->
					<!-- <div class="handle"></div> -->
				<!-- </div> -->
			<!-- </label> -->
		<!-- </li> -->
		<!-- <li class="item item-icon-left item-toggle"> -->
			<!-- <i class="icon ion-contrast"></i>{{"Light" | translate}} -->
			<!-- <label class="toggle toggle-balenced"> -->
				<!-- <input type="checkbox"> -->
				<!-- <div class="track"> -->
					<!-- <div class="handle"></div> -->
				<!-- </div> -->
			<!-- </label> -->
		<!-- </li> -->
		<li class="item item-icon-left item-toggle">
			<i class="icon ion-lightbulb"></i>{{"FlashLight" | translate}}
			<label class="toggle toggle-balenced">
				<input type="checkbox" ng-model="flashlight.active">
				<div class="track">
					<div class="handle"></div>
				</div>
			</label>
		</li>
		<!-- <li class="item item-icon-left item-toggle"> -->
			<!-- <i class="icon ion-monitor"></i>{{"Screen Orientation" | translate}} -->
			<!-- <label class="toggle toggle-balenced"> -->
				<!-- <input type="checkbox" ng-model="screen_orientation.active"> -->
				<!-- <div class="track"> -->
					<!-- <div class="handle"></div> -->
				<!-- </div> -->
			<!-- </label> -->
		<!-- </li> -->
		<li class="item item-icon-left item-toggle">
			<i class="icon ion-document"></i>{{"Sim Cards" | translate}}
			<label class="toggle toggle-balenced">
				<input type="checkbox" ng-model="sim.active">
				<div class="track">
					<div class="handle"></div>
				</div>
			</label>
		</li>
	</ul>

	</ion-content>
	  
  
  
</ion-view>