<button class="button button-clear {{buttomClass}} {{getButtonClass()}}" style="width:30px" ng-click=clickAction($event)>
    <i class="icon {{getIcon()}}"></i>
    <div ng-transclude class="settings-wrapper text-left" ng-show="showMenu" style="position:absolute;right:0;" ng-if="!actions"></div>
    <div class="list text-left" ng-if="actions" ng-show="showMenu && actions" style="position:absolute;right:0;">
         <style scoped>.list .item{padding: 4px 16px;min-width:150px} .noborder{border:none}</style>
         <a class="item {{itemClass}}" ng-class="{noborder:noBorder}" ng-repeat="m in actions" ng-click="m.fn(m.value)" href="{{m.href}}" ng-show="m.disabled !== true">{{m.text}}</a>
   </div>
</button>