<button class="button button-clear {{buttomClass}} {{getButtonClass()}}" id="button-settings" ng-click=clickAction($event)>
    <i class="icon {{getIcon()}}"></i>
    <div ng-transclude class="settings-wrapper text-left" ng-show="showMenu" ng-if="!settings"></div>
    <div class="list text-left" ng-if="settings" ng-show="showMenu && settings">
         <a class="item {{itemClass}}" ng-class="{noborder:noBorder}" ng-repeat="m in settings" ng-click="m.fn(m.value)" href="{{m.href}}" ng-show="m.disabled !== true">{{m.text}}</a>
   </div>
</button>