<ion-view view-title="weather" ng-controller="WeatherCtrl">
<ion-content scroll="false" class="weather-home">
	<div class="overlay">
	<label class="item-input">	
		<span class="input-label city">Ville :</span>
		<input type="text" placeholder="Paris,fr" ng-model="search" ng-keypress="loadWeather(search, $event)">
	</label>	
	</div>
	<span class="mainText">{{keyCode}}</span>
	<div ng-if="state" class="forecast">
		<img src="{{weatherData.icon}}" class="icon"/>
		<label class="bigText">{{weatherData.main}}</label>
		<div class="mainText">Ville : {{weatherData.city}}</div>
		<div class="mainText">Conditions courantes : {{weatherData.description}}</div>
		<div class="bigText">{{weatherData.temp}} &deg C</div>
	</div>
</ion-content>
</ion-view>