<?xml version='1.0' encoding='utf-8'?>
<widget id="com.pg.ServU" version="0.0.101" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ServU</name>
    <description>
        Application to automatize actions
    </description>
    <author email="pg.developper.fr@gmail.com" href="http://example.com/">
      Pg
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="FadeSplashScreenDuration" value="1000" />
    <preference name="android-minSdkVersion" value="16" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="SplashScreen" value="screen" />
    <preference name="orientation" value="portrait" />
    <preference name="cordova-custom-config-autorestore" value="false" />
    <preference name="cordova-custom-config-stoponerror" value="true" />
    <preference name="cordova-custom-config-hook" value="after_prepare" />
    <feature name="StatusBar">
        <param name="ios-package" onload="true" value="CDVStatusBar" />
    </feature>
    <plugin name="cordova-sms-plugin" spec="~0.1.11" />
    <plugin name="cordova.plugins.diagnostic" spec="~3.6.2" />
    <plugin name="cordova-plugin-background-mode" spec="~0.7.2" />
    <platform name="android">
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
        </config-file>
        <icon density="ldpi" src="resources\android\icon\drawable-ldpi-icon.png" />
        <icon density="mdpi" src="resources\android\icon\drawable-mdpi-icon.png" />
        <icon density="hdpi" src="resources\android\icon\drawable-hdpi-icon.png" />
        <icon density="xhdpi" src="resources\android\icon\drawable-xhdpi-icon.png" />
        <icon density="xxhdpi" src="resources\android\icon\drawable-xxhdpi-icon.png" />
        <icon density="xxxhdpi" src="resources\android\icon\drawable-xxxhdpi-icon.png" />
        <splash density="port-ldpi" src="resources\android\splash\drawable-port-ldpi-screen.png" />
        <splash density="port-mdpi" src="resources\android\splash\drawable-port-mdpi-screen.png" />
        <splash density="port-hdpi" src="resources\android\splash\drawable-port-hdpi-screen.png" />
    </platform>
    <icon src="resources\android\icon\drawable-xhdpi-icon.png" />
    <allow-navigation href="http://192.168.1.12:8100" />
    <allow-navigation href="*" />
    <allow-navigation href="http://192.168.20.55:8100" />
    <allow-navigation href="http://192.168.137.1:8100" />
    <allow-navigation href="http://192.168.1.10:8100" />
    <allow-navigation href="http://192.168.20.33:8100" />
    <allow-navigation href="http://192.168.22.226:8100" />
    <allow-navigation href="http://192.168.137.36:8100" />
    <plugin name="cordova-custom-config" spec="~3.2.0" />
</widget>
