input[type="range"] {
    position: relative;
    margin-left: 1em;
}
input[type="range"]:after,
input[type="range"]:before {
    position: absolute;
    top: 1em;
    color: #aaa;
}
input[type="range"]:before {
    left:0em;
    content: attr(min);
}
input[type="range"]:after {
    right: 0em;
    content: attr(max);
}

#condition_statut {
    height: 100%;
    width: 100%;
}

#map {
    height: 200px;
    width: 90%;
}

.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    color: white;
}

.panel-warning-dark {
    border-color: #FF7F00;
    color: black;
}

.panel-warning-dark > .panel-heading {
    background-color: #FF7F00;
}

.panel-default {
    color: black;
}

#deviceTitle {
    color: white;
}

.t-btn {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
}

.progress {
    margin-bottom:0px;
    position : relative;
}

.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
}

.btn-group-in-footer {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.well-warning {
    background-color: #FF7F00;
    margin-top: 50%;
    margin-bottom: 50%;
}

.store {
    height: 50px;
}

.bg-white {
    background-color: #FFFFFF;
}

.text-blue-jeans {
    color: #5D9CEC;
}
.text-aqua {
    color: #4FC1E9;
}
.text-mint {
    color: #48CFAD;
}
.text-grass {
    color: #A0D468;
}
.text-sunflower {
    color: #FFCE54;
}
.text-bittersweet {
    color: #FC6E51;
}
.text-grapefruit {
    color: #ED5565;
}
.text-lavender {
    color: #AC92EC;
}
.text-pink-rose {
    color: #EC87C0;
}
.text-light-gray {
    color: #F5F7FA;
}
.text-medium-gray {
    color: #CCD1D9;
}
.text-dark-gray {
    color: #656D78;
}

@font-face {
    font-family: "Amethyst";
    src: url('../../fonts/persoFonts/Amethyst.ttf');
}

@font-face {
    font-family: "Counter-Strike";
    src: url('../../fonts/persoFonts/cs_regular.ttf')
}

.fontAmethyst {
    font-family: "Amethyst";
}

.fontCounter {
    font-family: "Counter-Strike";
    padding-top: 0;
    margin-top: 0;
}

hr.reduce {
    padding-top: 5px;
    margin-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}


.text-white {
    color: white;
}

.gutter-20.row {
    margin-right: -10px;
    margin-left: -10px;
}

.gutter-20 > [class^="col-"], .gutter-20 > [class^=" col-"] {
    padding-right: 10px;
    padding-left: 10px;
}

.gutter-10.row {
    margin-right: -5px;
    margin-left: -5px;
}
.gutter-10 > [class^="col-"], .gutter-10 > [class^=" col-"] {
    padding-right: 5px;
    padding-left: 5px;
}

.gutter-0.row {
    margin-right: 0;
    margin-left: 0;
}

.gutter-0 > [class^="col-"], .gutter-0 > [class^=" col-"]{
    padding-right: 0;
    padding-left: 0;
}

.gutter-20.row {
    margin-right: -10px;
    margin-left: -10px;
}

.gutter-20 > [class^="col-"], .gutter-20 > [class^=" col-"] {
    padding-right: 10px;
    padding-left: 10px;
}

.gutter-10.row {
    margin-right: -5px;
    margin-left: -5px;
}
.gutter-10 > [class^="col-"], .gutter-10 > [class^=" col-"] {
    padding-right: 5px;
    padding-left: 5px;
}

.gutter-0.row {
    margin-right: 0;
    margin-left: 0;
}

.gutter-0 > [class^="col-"], .gutter-0 > [class^=" col-"]{
    padding-right: 0;
    padding-left: 0;
}


