#condition_statut {
    height: 100%;
    width: 100%;
}

#map {
    height: 200px;
    width: 90%;
}

.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    color: white;
}

.panel-warning-dark {
    border-color: #FF7F00;
    color: black;
}

.panel-warning-dark > .panel-heading {
    background-color: #FF7F00;
}

.panel-default {
    color: black;
}

#deviceTitle {
    color: white;
}

.t-btn {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
}

.progress {
    margin-bottom:0px;
    position : relative;
}

.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
}

.btn-group-in-footer {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.well-warning {
    background-color: #FF7F00;
    margin-top: 50%;
    margin-bottom: 50%;
}

.store {
    height: 50px;
}
